rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'teechaisoon@xuedaeducationgroup.edu.my';
    }

    match /folders/{folderId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /items/{itemId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
